@charset "UTF-8";

body {
    background-color: rgb(183, 232, 175);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: rgb(18, 115, 3);

}

#principal {
    text-align: center;
    background-color: green;
    color: white;
}

h2 {
    color: rgb(58, 84, 54);
}

.basico {
    color: rgb(77, 77, 38);
    font-weight: bold;
}

.inter {
    color: blue;
}

.avancado {
    color: red;
}